<div id="SignOutModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Sign Out</h4>
			</div>
		<!---	<div class="modal-body">
				<form name="signOutForm">
					<div class="form-group">
						<input type="number" class="form-control input-lg" name="pin" ng-model="signOut.pin" placeholder="Sign-Out Pin" />
						<p class="text-danger" ng-show="signOutSubmitted && signOut.pin != user.pin">
							Invalid Pin
						</p>
					</div> --->
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-click="confirmSignOut()">Sign Out</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-default top-nav private-nav">
	<div class="container">
		<h2 class="navbar-left">{{user.businessName}}</h2>
		<span class="navbar-brand navbar-right"> <img ng-src="{{user.logo}}" /> </span>
	</div>
</nav>
<div class="container">
	<div class="col-lg-12">
		<div class="text-right">
	<!---		<button type="button" class="btn btn-warning btn-sm" ng-click="signOut()"><i class="glyphicon glyphicon-off"></i></button> --->
		</div>
		<h1 class="text-center">Welcome!</h1>
		<p class="text-center">
			<strong>Sign up for our mobile rewards</strong>
		</p>
		<form name="appForm">
			<div class="form-group">
				<input type="text" class="form-control input-lg" ng-model="customer.firstName" name="firstName" placeholder="*First Name" maxlength="100" required="required" />
				<p class="text-danger" ng-show="(submitted || appForm.firstName.$dirty) && appForm.firstName.$error.required">
					Required field
				</p>
			</div>
			<div class="form-group">
				<input type="text" class="form-control input-lg" ng-model="customer.lastName" name="lastName" placeholder="*Last Name" maxlength="100" required="required" />
				<p class="text-danger" ng-show="(submitted || appForm.lastName.$dirty) && appForm.lastName.$error.required">
					Required field
				</p>
			</div>
			<div class="form-group">
				<input type="email" class="form-control input-lg" ng-model="customer.email" name="email" placeholder="*Email" maxlength="254" required="required" />
				<p class="text-danger" ng-show="(submitted || appForm.email.$dirty) && (appForm.email.$error.required || appForm.email.$error.email)">
					Invalid format
				</p>
			</div>
			<div class="form-group text-center">
				<label class="control-label">Phone Number (Area Code First)</label>
				<div class="form-inline phone-input">
					<div class="form-group">
						<input type="text" class="form-control" name="areaCode" ng-model="customer.areaCode" size="4" maxlength="3" ng-pattern="/^([0-9]{3})$/" required="required" placeholder="123" focus-next="#PhoneFirst" />
					</div>
					<div class="form-group">
						<input type="text" id="PhoneFirst" class="form-control" name="phoneFirst" ng-model="customer.phoneFirst" size="4" maxlength="3" ng-pattern="/^([0-9]{3})$/" required="required" placeholder="456" focus-next="#PhoneSecond" />
					</div>
					<div class="form-group">
						<input type="text" id="PhoneSecond" class="form-control" name="phoneLast" ng-model="customer.phoneLast" size="5" maxlength="4" ng-pattern="/^([0-9]{4})$/" required="required" placeholder="7890" />
					</div>
					<p class="text-danger" ng-show="submitted && (appForm.areaCode.$error.required || appForm.areaCode.$error.pattern || appForm.phoneFirst.$error.required || appForm.phoneFirst.$error.pattern || appForm.phoneLast.$error.required || appForm.phoneLast.$error.pattern)">
						Invalid phone number
					</p>
				</div>
			</div>
			<div class="col-lg-12 well well-sm">
				<div class="form-group text-center">
					<h4>How do you want to be contacted?</h4>
					<div class="col-lg-6">
						<p>
							<strong>Email Me</strong>
						</p>
						<div class="checkbox-slider">
							<input type="checkbox" id="EmailSlider" ng-model="customer.contactEmail" ng-true-value="1" ng-false-value="0" />
							<label for="EmailSlider"></label>
						</div>
					</div>
					<div class="col-lg-6">
						<p>
							<strong>Text Me</strong>
						</p>
						<div class="checkbox-slider">
							<input type="checkbox" id="SMSSlider" ng-model="customer.contactSMS" ng-true-value="1" ng-false-value="0" />
							<label for="SMSSlider"></label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success btn-lg full-width" ng-click="createCustomer()">Sign Up!</button>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-danger btn-lg full-width" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
