<nav class="navbar navbar-default top-nav private-nav">
    <div class="container">
        <h2 class="navbar-left">{{user.businessName}}</h2>
        <span class="navbar-brand navbar-right"> <img ng-src="{{user.logo}}" /> </span>
    </div>
</nav>
<div class="container">
  <div class="col-lg-12">
    <div class="text-right">
  <!---		<button type="button" class="btn btn-warning btn-sm" ng-click="signOut()"><i class="glyphicon glyphicon-off"></i></button> --->
    </div>
    <h1 class="text-center">Coupon and Loyalty Validation</h1>
    <p class="text-center">
    <a class="img-responsive" target="_blank" style="text-decoration: none;" ng-click="scan()">
      <img style="width: 50%;" src="img/scan.png">
      <h2 class="text-center">Tap to Scan</h2>
    </a>
    </p>
  </div>
</div>
