<nav class="navbar navbar-default top-nav private-nav">
	<div class="container">
		<h2 class="navbar-left">Customer Portal</h2>
		<span class="navbar-brand navbar-right"> <img src="res/logo.png" /> </span>
	</div>
</nav>
<div id="mobikite-container" class="container" style="display: none;">
	<div class="col-lg-12">
		<h1 class="text-center">Sign In</h1>
		<form name="form">
			<div class="form-group">
				<input type="email" class="form-control input-lg" name="email" ng-model="user.email" maxlength="254" placeholder="Email" required="required" />
				<p class="text-danger" ng-show="(submitted || form.email.$dirty) && (form.email.$error.required || form.email.$error.email)">
					Invalid format
				</p>
			</div>
			<div class="form-group">
				<input type="password" class="form-control input-lg" name="password" ng-model="user.password" placeholder="Password" required="required" />
				<p class="text-danger" ng-show="(submitted || form.password.$dirty) && form.password.$error.required">
					Required field
				</p>
			</div>
		<!---	<div class="form-group">
				<input type="number" class="form-control input-lg" name="pin" ng-model="user.pin" placeholder="Sign-Out Pin" required="required" />
				<p class="text-danger" ng-show="(submitted || form.pin.$dirty) && (form.pin.$error.required || form.pin.$error.number)">
					Invalid format
				</p>
			</div>  --->
			<div class="form-group text-center">
			<!---	<button type="button" class="btn btn-success btn-lg full-width large-top-margin" ng-click="signIn()">
					Sign In
				</button>  --->
                <button style="background-color: #cc6600; border-radius: 28px;" ng-click="signIn()">
									Registration Kiosk
								</button>
								<br><br>
								<button style="background-color: #cc6600; border-radius: 28px; " ng-click="signInScanner()">
									Validation Scanner
								</button>
			</div>
		</form>
	</div>
</div>
