@font-face {
	font-family: 'Open Sans',
	src: url('../fonts/OpenSans-Regular.ttf');
}

h1, h2, h3, h4, h5, p, li, label, input, select {
	font-family: 'Open Sans', sans-serif;
	color: #555;
}

.navbar-brand {
	height: 80px;
	padding: 0;
}

.navbar-brand img {
	height: 100%;
}

.private-nav h2 {
	margin: 30px 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.top-nav .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 90px;
	font-family: 'Open Sans', sans-serif;
}

.top-nav .navbar-form {
	padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

.full-width {
	width: 100% !important;
}

.large-top-margin {
	margin-top: 20px;
}

.phone-input .form-control {
	width: auto;
}

.phone-input .form-group {
	display: inline-block
}

#MainProgress {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.checkbox-slider {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  z-index: 10;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.checkbox-slider:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.yes-no-slider:after {
	content: 'NO';
  	color: #000;
  	position: absolute;
  	right: 10px;
  	z-index: 0;
  	font: 12px/26px Arial, sans-serif;
  	font-weight: bold;
  	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.checkbox-slider:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}

.yes-no-slider:before {
	content: 'YES';
  	color: #27ae60;
  	position: absolute;
  	left: 10px;
  	z-index: 0;
  	font: 12px/26px Arial, sans-serif;
  	font-weight: bold;
}


.checkbox-slider label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.checkbox-slider input[type=checkbox] {
  visibility: hidden;
}
.checkbox-slider input[type=checkbox]:checked + label {
  left: 43px;
}

.small2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: transparent;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small1 {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: transparent;
}

.bigcon {
  position: absolute;
  height: 95px;
  width: 95px;
  top: 50vh;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: transparent;
  animation: bigcon 2s infinite linear;
  animation-delay: 0.25s;
}

.ball {
  border-radius: 50%;
  position: absolute;
}

.small {
  width: 25px;
  height: 25px;
  animation: small 2s infinite ease;
  box-shadow: 0px 2px rgba(0,0,0,0.3);
   background-color: #46b9ff;
}

.small:nth-child(1) {
  top: 0%;
  left: 0%;
}

.small:nth-child(2) {
  top: 0%;
  right: 0%;
}

.small:nth-child(3) {
  right: 0%;
  bottom: 0%;
}

.small:nth-child(4) {
  bottom: 0%;
  left: 0%;
}

.big {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  box-shadow:0px 0px 10px #54f7f8, 0px 0px 20px #54f7f8, 0px 0px 30px #54f7f8, 0px 0px 50px #54f7f8, 0px 0px 60px #54f7f8 ;
  z-index: 1;
  background-color: #54f7f8;
  animation: bigball 1s infinite linear;
}

.smallball1{
  animation-delay: -1.75s;
}
.smallball6{
  animation-delay: -1.5s;
}
.smallball2{
  animation-delay: -1.25s;
}
.smallball7{
  animation-delay: -1s;
}
.smallball3{
  animation-delay: -0.75s;
}
.smallball8{
  animation-delay: -0.5s;
}
.smallball4{
  animation-delay: -0.25s;
}
.smallball5{
  animation-delay: -0s;
}

@keyframes bigcon {
  0% {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes small {
  0% {
    transform: scale(1);
     background-color: #46b9ff;
  }
  10% {
    transform: scale(1.3);
    background-color: #54f7f8;
  }
  15% {
    transform: scale(1);
  }
  25%{
transform: scale(1);
     background-color: #46b9ff;
  }
  100%{
    transform: scale(1);
     background-color: #46b9ff;
  }
}
